{% extends 'GanemosMadridPlenarioFormBundle::layout.html.twig' %}

{% block body %}

    <h2>Gracias por inscribirte!</h2>
    <p class="lead">
        Muy pronto recibirrás información sobre el proceso #GanemosMadrid
    </p>

    <a class="btn btn-default" href="formulario" role="button">Volver al formulario</a>
    <a class="btn btn-default" href="http://ganemosmadrid.info" role="button">Ir a ganemosmadrid.info</a>
{% endblock %}

